body {
  color: #fff;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #1C1C1C;
  position: relative;
  background-color: #000;
  background-color: rgba(51, 69, 152, 0.1);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  margin:0;
  padding:0;
}

html {
  margin:0;
  padding:0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    background-image: url('../images/bg@2x.jpg');
    background-size: 1400px 934px;
  }
}

a {
  color:#fff;
}

p {
  size: 12px;
}

h1 {
  font-size: 41px;
  line-height: 28px;
  padding: 10px;
  color: #fff;
  width:570px;
}

h1 a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

h1 a:hover {
  text-decoration: none;
  color: #898989;
}

h2 {
  color:#1C1C1C;
  padding:5px 0 0 0;
  margin:0px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

h4 {
  font-size: 12px;
  font-weight: 400;
}

h4 {
  font-size: 12px;
  font-weight: 400;
}

h4 a {
  color: #1C1C1C;
}

h4 a:hover {
  color: #898989;
}

#mc_embed_signup {
  background:none;
  font-family: 'Montserrat', Arial, sans-serif;
  color:#ffffff;
  padding:10px;
  margin-top:27px;
  width:570px;
  height:120px;
}

#mc_embed_signup h2 {
  color:#1C1C1C;
  padding:5px 0 0 0;
  margin:0px;
}

#mc_embed_signup .email {
  border:5px solid #1C1C1C;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size:30px;
  color:#1C1C1C;
  background: none;
  padding:5px;
  margin:10px 0px;
  width:370px;
}

#mc_embed_signup .button {
  border:5px solid #1C1C1C;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size:30px;
  color:#ffffff;
  background:#1C1C1C;
  padding:5px;
  margin:10px 0px;
  width:180px;
}

#mc_embed_signup .response {
  width:550px;
}

#gigs {
  padding:10px;
  width:590px;
  background-color:rgba(255,255,255,0.66);
}

.feed-item-title a {
  color:#1C1C1C;
  font-size:15px;
}

.feed-item-desc {
  color:#1C1C1C;
  font-size:12px;
  padding-bottom: 10px;
  /*border-bottom: 1px solid #B7AAAC;*/
}

.rss2html-note {
  display:none;
}

.promo {
  height:200px;
  color:#fff;
  font-weight:200;
  padding-bottom: 30px;
}

.promo img {
  float: right;
  margin: 0px 18px 20px 0px;
}

.profiles {
  font-size: 34px;
  margin: 0px;
  color: #1C1C1C;
}

.profiles a {
  text-decoration: none;
  color: #1C1C1C;
  display: inline-block;
}

.profiles a:hover {
  text-decoration: none;
  color: #898989;
}

#left
{
  width: 610px;
  float: left;
  padding: 10px;
}

#right
{
  margin-left: 630px;
  padding: 10px;
}

.clear
{
  clear: both;
}

#footer {
  clear:both;
}